{% extends 'base.html' %}
{% block title %}Adhiran Medical Center | Certification Types{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url 'medical_certificate' %}">Medical Certificate</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url 'fitness_certificate' %}">Fitness Certificate</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url 'med_fitness_certificate' %}">Medical Fitness Certificate</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url 'certificate_of_physical' %}">Certificate of Physical Fitness</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url 'physical_fitness' %}">Physical Fitness Certificate</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><a href="{% url 'life_certificate' %}">Life Certificate</a></h1>
    </div>
</div>
{% endblock %}