{% extends 'base.html' %}
{% block title %}Adhiran Medical Center | Edit Patient{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Edit Patient
        </h1>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
				<div class="col-lg-12">
					<div class="pull-right">
						<a href="{% url 'dashboard' %}" class="btn btn-danger btn-md"><i class="fa fa-times"></i> Cancel</a>
						<button class="btn btn-success btn-md" type="submit" name="save" value="save"><i class="fa fa-save"></i> Save</button>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-3">
					<div class="form-group">
						<label>Salutation</label>
						<select class="form-control input-sm" id="id_salutation" name="salutation" value="">
							<option value="">-------</option>
								{% for sl in salutation_list %}
									<option {% if sl in patient_id.salutation %}selected="selected"{% endif %} value="{{sl}}">{{sl}}</option>
								{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label>Name</label>
						<input type="text"  class="form-control input-sm" name="name" id="id_name" value="{{patient_id.name|default_if_none:''}}" placeholder="Enter Name" />
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label>Date of Registration</label>
						<input type="text" class="form-control input-sm datepicker"  id="id_date_of_reg" data-date-format="dd-mm-yyyy" placeholder="DD-MM-YYYY" name="date_of_reg" value="{{patient_id.date_of_reg|default_if_none:''|date:'d-m-Y'}}" />
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label>Age</label>
						<input type="text"  class="form-control input-sm" name="age" id="id_age" value="{{patient_id.age|default_if_none:''}}" placeholder="Enter Age" />
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-3">
					<div class="form-group">
						<label>Gender</label>
						<select class="form-control input-sm" id="id_gender" name="gender">
							<option value="">-------</option>
							{% for gen in gender_list %}
								<option {% if gen in patient_id.gender %}selected="selected"{% endif %} value="{{gen}}">{{gen}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label>Mobile No.</label>
						<input type="text" class="form-control input-sm"  name="mobile_no" id="id_mobile_no" value="{{patient_id.mobile_no|default_if_none:''}}" placeholder="Enter Mobile No" />
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label>Email ID</label>
						<input type="text"  class="form-control input-sm" name="email" id="id_email" value="{{patient_id.email|default_if_none:''}}" placeholder="Enter Email ID" />
					</div>
				</div>
			</div>
			
			<h4>Current Address</h4>
			<hr>
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						<label>Address Details</label>
						<textarea class="form-control input-sm"  name="pa_address_detail" id="id_pa_address_detail" placeholder="Enter Address">{{patient_id.pa_address_detail|default_if_none:''}}</textarea>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label>City</label>
						<select class="form-control input-sm" id="id_pa_city" name="pa_city">
							<option value="">-------</option>
							{% for cty in city_list %}
								<option {% if cty in patient_id.pa_city %}selected="selected"{% endif %} value="{{cty}}">{{cty}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			
			<h4>Referred By</h4>
			<hr>
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						<label>Details</label>
						<textarea class="form-control input-sm"  name="address" id="id_address" placeholder="Enter Address">{{patient_id.address|default_if_none:''}}</textarea>
					</div>
				</div>
			</div>

           	<h4>Sound or Video or Text file</h4>
           	<hr>
			<div class="row">
			   <!-- div class="col-lg-9">
					<label>Upload Files</label>
					<input type="file" name="upload_file" id="id_upload_file" class="btn btn-default" multiple>
					<div class="col-lg-4" style="text-align:right;">
						<input type="button" id="btnUpload" style="display:none" class="btn btn-default" value="Upload File" onclick​="uploadFiles()">
					</div>
	            </div>
	            <div class="row">
	                <div id="divFiles" class="files">
	                </div>
	            </div> -->
	            <div class="col-lg-9">
		            <div class="input-group uploadFiles">
	                    <span class="input-group-btn">
	                        <span class="btn btn-primary btn-file btn-sm">
	                            <input type="file" id="id_upload_files" name="upload_files" multiple>
	                        </span>
	                    </span>
	                </div>
                </div>
			</div>
			<!-- <div class="row" style="margin-top:30px;">
			    <div class="col-lg-9">
			        <div class="table-responsive">
			            <table class="table table-striped table-bordered" id="example">
			                <thead>
			                    <tr>
			                        <th>Uploaded File Name</th>
			                        <th>Action</th>
			                    </tr>
			                </thead>
			                <tbody>
			                	{% for upf in pfiles_list %}
		                        <tr>
		                            <td align="center"><a href="{{upf.upload_files}}">{{upf.upload_files|stringformat:"s"|slice:"12:"}}</a></td>
									<td align="center">
										<a href="{% url 'delete_pfile' patient_id.id upf.id %}" class="delete" style="color:red"><i class="fa fa-trash"></i></a>
									</td>
		                        </tr>
		                        {% empty %}
		                        <tr>
					              <td colspan="2" class="text-center bg-warning">No Data Found</td>
					            </tr>
					            {% endfor %}
			                </tbody>
			            </table>
			        </div>
			    </div>
			</div> -->
			<br>
			<div class="row">
				{% for upf in pfiles_list %}
                <ul>
            		<div class="col-sm-2">
	                  <a href="{{upf.upload_files.url|default_if_none:'#'}}"><img src="{{upf.upload_files.url|default_if_none:'#'}}" style="width:90px;height:100px;"></a>
	                  <a href="{% url 'delete_pfile' patient_id.id upf.id %}" class="delete" style="color:red;"><i class="fa fa-trash"></i></a>
	                </div>
                </ul>
                {% empty %}
                <ul><div class="col-sm-2 bg-warning">Files are not found, Please upload</div></ul>
                {% endfor %}
            </div>
			<br><br>
			<div class="row">
				<div class="col-lg-9">
					<div class="form-group">
						<label>Notes</label>
						<textarea class="form-control input-sm"  name="notes" id="id_notes" placeholder="Enter Notes">{{patient_id.notes|default_if_none:''}}</textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="pull-right">
						<a href="{% url 'dashboard' %}" class="btn btn-danger btn-md"><i class="fa fa-times"></i> Cancel</a>
						<button class="btn btn-success btn-md" type="submit" name="save" value="save"><i class="fa fa-save"></i> Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<link rel="stylesheet" href="/static/assets/css/jquery-ui.css">
<style>
    .ui-widget-header {
        background: none;
        background-color: yellow;
        border: 1px solid #aaaaaa ;
        color: #222222 ;
        font-weight: bold;
    }
</style>
<link rel="stylesheet" href="/static/assets/css/bootstrap-timepicker.min.css">
<script src="/static/assets/js/jquery.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.easy-confirm-dialog.js"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$(document).ready(function uploadFiles() {
	    var file = document.getElementById("upload_files")//All files
		for (var i = 0; i < file.files.length; i++) {
		      uploadSingleFile(file.files[i], i);
			}
	} );
	// function uploadFiles() {
	// var file = document.getElementById("fileUploader")//All files
	// for (var i = 0; i < file.files.length; i++) {
	//       uploadSingleFile(file.files[i], i);
	// 	}
	// }
	$( ".datepicker" ).datepicker({autoclose:true,});

	$(document).ready(function() {
    $('#example').DataTable();
	} );


	$(".delete").easyconfirm({locale: {
	    title: 'Confirmation Alert!',
	    text: 'Are you sure want to delete this file?',
	}});

</script>

{% endblock %}